body {
    font-family: Arial;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
}
